<form [formGroup]="formulario">
  <div>
    <label>País</label>
    <select name="" id="pais" formControlName="pais">
      <option *ngFor="let pais of paises" [value]="pais">{{pais}}</option>
    </select>
  </div>
  <div>
    <label>Estado</label>
    <select name="" id="estado" formControlName="estado">
      <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
    </select>
  </div>
  <div>
    <label>Ciudad</label>
    <select name="" id="ciudad" formControlName="estado">
      <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ciudad}}</option>
    </select>
  </div>
</form>
